.totalMoney {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 100px;
  background-color: #2ecc71;
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  color: white;
  font-weight: bold;
  font-size: 50px;
  position: sticky;
  top: 0;
}
